<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Baby Alert System</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property=”og:video” content=”http://baby.passiveobserver.com/images/dancing_baby.gif” />

  <link rel="manifest" href="passiveobserver.com">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/stylesheets/nes.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-grid.css">
  <link rel="stylesheet" href="/stylesheets/baby.css">
</head>
<body>
  <div class="nes-container with-title">
    <%= erb :baby, layout: false %>
    <h2 class="title col-6 col-sm-12 col-lg-6 col-md-8 ">passiveobserver.com</h2>
    <div class="main">
      <%= yield %>
    </div>
  </div>

</body>
